{% extends 'common/index.html' %}
{% block content %}


    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Register</h1>

            <!-- Start Register Form -->
            <form method="post">
                {% csrf_token %}

                    {% for field in form %}
                        <div>
                            {{ field }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <p class="mt-2 text-red-500 font-medium">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}

                <!-- Register Button -->
                <button type="submit">Register</button>
            </form>
            <!-- End Register Form -->

        </div>

        <div class="second-option">

            <!-- Link to Login Page -->
            <p>Have an account? <a href="{% url 'login' %}">Log in</a></p>
        </div>
    </div>


{% endblock %}
