{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Secret Spark</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->
    {% include 'common/nav.html' %}

             <!-- Login Form -->
    <div class="login-register-div">
        <form class="login-register-box">

            <h1>Login</h1>

            <form action="#">
                <p>
                    <label for="id_username">Username:</label>
                    <input type="text" placeholder="Username">
                </p>
                <p>
                    <label for="id_password">Password:</label>
                    <input type="password" placeholder="Password">
                </p>

                <!-- Login Button-->
                <button type="submit">Log in</button>
            </form>
        </form>

        <div class="second-option">

            <!-- Link to Register Page-->
            <p>Don't have an account? <a href="#">Register</a></p>
        </div>
    </div>


</body>
</html>
