{% extends 'common/home.html' %}


{% block title %}Login | Secret Spark{% endblock %}

{% block content %}

             <!-- Login Form -->
    <div class="login-register-div">
        <form class="login-register-box">

            <h1>Login</h1>

            <form action="#">
                <p>
                    <label for="id_username">Username:</label>
                    <input type="text" placeholder="Username">
                </p>
                <p>
                    <label for="id_password">Password:</label>
                    <input type="password" placeholder="Password">
                </p>

                <!-- Login Button-->
                <button type="submit">Log in</button>
            </form>
        </form>

        <div class="second-option">

            <!-- Link to Register Page-->
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>

{% endblock %}