{% extends "common/index.html" %}
{% load static %}

{% block content %}

    <section class="article-form-section">
        <h2 id="article-form-title">Create New Article</h2>

            <form  action="{% url 'create-article' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="article-form-grid">

                    <div class="form-column form-left">
                        <div class="form-field">
                             {{ form.title }}
                        </div>

                        <div class="form-field">
                            {{ form.content }}
                        </div>
                    </div>

                    <aside class="form-column form-right">
                        <div class="form-field">
                            <div class="image-container">
                              <div class="folder">
                                <div class="front-side">
                                  <div class="tip"></div>
                                  <div class="cover"></div>
                                </div>
                                <div class="back-side cover"></div>
                              </div>

                                <label for="{{ form.photo.id_for_label }}" class="custom-file-upload">
                                    Upload Image
                                    {{ form.photo }}
                                </label>
                            </div>
                        </div>

                        <div class="form-field category-wrapper">

                                <label class="category-label">Choose category</label>
                                    <ul class="category-list">
                                        {% for db_value, label in form.category.field.choices %}
                                           {% if db_value %}
                                                <li class="category-item" data-value="{{ db_value }}">{{ label }}</li>
                                            {% endif %}

                                        {% endfor %}
                                    </ul>
                            <input type="hidden" name="category" id="category-input">
                        </div>

                        <footer class="form-actions">
                           <div class="button-group">
                              <button type="submit" class="btn">Create</button>
                              <button type="button" class="btn" onclick="/* тук добави логика за отказ */">Cancel</button>
                            </div>
                        </footer>
                    </aside>

                </fieldset>
            </form>
    </section>


<script>
  const items = document.querySelectorAll('.category-item');
  const hiddenInput = document.getElementById('category-input');

  items.forEach(item => {
    item.addEventListener('click', () => {
      // премахни избора от другите
      items.forEach(el => el.classList.remove('selected'));
      item.classList.add('selected');

      // запиши стойността
      hiddenInput.value = item.dataset.value;
    });
  });
</script>

{% endblock %}
