{% load static %}
	<div class="nav">
    	<div class="nav-item">
        	<img src="{% static 'images/self_improvement.jpg' %}" alt="Self Improvement">
            <span>Self-Improvement</span>

        </div>

           <div class="nav-item">
        	<img src="{% static 'images/work_and_money.jpg' %}"
            alt="Work and Money">
            <span>Work & Money</span>

        </div>

            <div class="nav-item">
        	<img src="{%  static 'images/style.jpg' %}" alt="Style">
            <span>Style</span>

        </div>

            <div class="nav-item">
        	<img src="{% static 'images/feminine_health.jpg' %}" alt="Feminine Health">
            <span>Feminine Health</span>

        </div>

        </div>