{% load static %}

<nav>
    <ul class="nav">
        <li class="nav-item">
            <a href="#">
                <img src="{% static 'images/self_improvement.jpg' %}" alt="Self Improvement">
                <span>Self-Improvement</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#">
                <img src="{% static 'images/work_and_money.jpg' %}" alt="Work and Money">
                <span>Work & Money</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#">
                <img src="{% static 'images/style.jpg' %}" alt="Style">
                <span>Style</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#">
                <img src="{% static 'images/feminine_health.jpg' %}" alt="Feminine Health">
                <span>Feminine Health</span>
            </a>
        </li>
    </ul>
</nav>
